<!DOCTYPE html>
<html>
<head>
    {% block meta %}{% endblock %}
    <meta charset="utf-8">

    <title>{% block title %}小草在线{% endblock %}</title>

    <link rel="icon" href="{{ url_for('static', filename='img/base/icon.png') }}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    {% block css %}{% endblock %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>

    {% block script %}{% endblock %}
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <a class="navbar-brand" href="{{ url_for('home.index') }}" style="margin-right: auto;">
            <img src="{{ url_for('static', filename='img/base/logo.png') }}" alt="Logo" width="50" height="50">
        </a>

        <a class="navbar-brand" style="font-family: splash ink;font-size: 45px; color: black;text-decoration: none;"  href="/">
            小草在线
        </a>

        <a class="navbar-brand" href="/" style="margin-right: auto;">
            <img src="{{ url_for('static', filename='img/base/planet.png') }}" alt="" width="25" height="25">
           首页
        </a>

        <a class="navbar-brand" href="{{ url_for('products.products_home') }}"  style="margin-right: auto;">
            <img src="{{ url_for('static', filename='img/base/shopping.png') }}" alt="" width="20" height="20">
            在售
        </a>

        <a class="navbar-brand" href="https://github.com/XcNgg/XC-Online-Shopping" style="margin-right: auto;" target="_blank">
            <img src="{{ url_for('static', filename='img/base/github.png') }}" alt="" width="20" height="20">
            Github
        </a>

        <a class="navbar-brand" href="https://blog.xcup.top/index.php/archives/563/" style="margin-right: auto;" target="_blank">
            <img src="{{ url_for('static', filename='img/base/file.png') }}" alt="" width="20" height="20">
            文档
        </a>

        <a class="navbar-brand" href="/" style="margin-right: auto;">
        </a>



        <ul class="navbar-nav ml-auto" style="margin-left: auto;">
            <li class="nav-item">
                <form class="form-inline">
                    <img id='search-img' style="cursor: pointer;" src="{{ url_for('static', filename='img/base/search.png') }}" alt="search" width="25" height="25" onclick="javascript:window.location.href = '/products';">

                    <span id="KeyWordSearch" class="ml-3" style="width: 450px;"></span>
{#                    <button  class="btn btn-outline-dark my-2 my-sm-0 mr-sm-4" type="button" >#}
{#                        Search#}
{#                    </button>#}
                </form>
            </li>


            {% if user %}
                <ul class="navbar-nav">
                    <li class="nav-item pr-3">
                        <div class="btn-group">
                            <div class="dropdown">
                                <span class="dropdown-toggle"  id="userDropdown"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        style="font-size: 20px; cursor: pointer;">
                                     <img src="{{ url_for('static', filename='img/base/users.png') }}" alt="" width="20" height="20">
                                    {{ user.username }}
                                </span>
                                <div class="dropdown-menu dropdown-menu-right w-auto" aria-labelledby="userDropdown">

                                    <a class="dropdown-item" onclick="signin()">
                                     <img src="{{ url_for('static', filename='img/base/signIn.png') }}" alt="" width="15" height="15">
                                        签 到
                                    </a>

                                    <a class="dropdown-item" href="{{ url_for('users.information') }}">
                                     <img src="{{ url_for('static', filename='img/base/userInfo.png') }}" alt="" width="15" height="15">
                                        个人信息
                                    </a>

                                    <a class="dropdown-item" href="{{ url_for('users.my_sale') }}">
                                     <img src="{{ url_for('static', filename='img/base/sale.png') }}" alt="" width="15" height="15">
                                        我出售的
                                    </a>

                                    <a class="dropdown-item" href="{{ url_for('users.my_orders') }}">
                                     <img src="{{ url_for('static', filename='img/base/orders.png') }}" alt="" width="15" height="15">
                                        我的订单
                                    </a>

{#                                    <a class="dropdown-item" href="#">#}
{#                                     <img src="{{ url_for('static', filename='img/base/cart.png') }}" alt="" width="15" height="15">#}
{#                                        购物车#}
{#                                    </a>#}

                                    <a class="dropdown-item" href="{{ url_for('users.edit_password') }}">
                                        <img src="{{ url_for('static', filename='img/base/editPasswd.png') }}" alt="" width="15" height="15">
                                        修改密码
                                    </a>

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" onclick="logout()">
                                        <img src="{{ url_for('static', filename='img/base/logout.png') }}" alt="" width="15" height="15">
                                        注 销
                                    </a>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.login') }}"
                       style="font-size: 20px">
                        <img src="{{ url_for('static', filename='img/base/login.png') }}" alt="" width="15" height="15">
                        登录
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('users.regist') }}"
                       style="font-size: 20px">
                        <img src="{{ url_for('static', filename='img/base/regist.png') }}" alt="" width="20 " height="20">
                        注册
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class="page-container">
    <div class="container">
        <!-- 主要内容区域 -->
        {% block content %}
        {% endblock %}
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>联系信息</h5>
                电话&地址: 123 Street, City, Country
                <br>
                Email: info@example.com
            </div>
            <div class="col-md-4">
                <h5>关于我们</h5>
                提供虚拟产品购买
                <br>
                在线交易服务
            </div>
            <div class="col-md-4">
                <h5>友情链接</h5>
                <a href="https://blog.xcup.top">小草笔记</a>
                <br>
                <a href="https://blog.xcup.top">小草笔记</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-left" style="padding-top: 15px">
                <div class="github-badge">
                    <a href="https://github.com/XcNgg/XC-Online-Shopping" target="_blank" title="©XCNGG">
                        <span class="badge-subject" id="current-year"></span><span class="badge-value bg-blue">XCNGG</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6 text-right" style="padding-top: 15px">
                <div class="github-badge">
                    <a href="https://beian.miit.gov.cn/" target="_blank" title="浙ICP备1234567890号">
                        <span class="badge-subject">浙ICP备</span><span class="badge-value bg-green">1234567890号</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>



<script>
    // 版权固定最新年份
    var currentYear = new Date().getFullYear();
    document.getElementById("current-year").textContent = "Copyright©" + currentYear;
</script>


{% if user %}
{#如果用户登录了，才能解锁签到#}
    <div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="signinModalLabel">Result</h5>
                <button id='ModalClose' type="button" class="close" data-dismiss="modal" aria-label="Close">
                   ×
                </button>
            </div>
            <div class="modal-body">
                <p id="signinResult"></p>
            </div>
        </div>
    </div>
</div>

<script>

    // 签到
    function signin() {
    const uid = '{{ user.id }}'; // 替换为实际的用户ID
    $.ajax({
    url: '{{ url_for('users.signin') }}',
    type: 'POST',
    data: { uid: uid },
    success: function(response) {
        // 处理响应数据
        var now_url = window.location.href;
        console.log(response);
        if (response.code === 200) {
            // 显示签到成功结果

            showSigninResult('签到成功!', response.amount);

        } else {
            // 显示签到失败结果
            showSigninResult('签到失败', response.message);

        }
        setTimeout(function () {
            window.location.href = now_url; // 自动跳转到当前页
        }, 700); // 0.5秒后跳转
    },
    error: function(error) {
        // 处理错误
        console.error(error);
        // 显示错误信息
        showSigninResult('错误', '发生错误');
    }
    });
}

function logout() {
    $.ajax({
        url: '{{ url_for('users.logout') }}',
        type: 'GET',
        success: function(response) {
            if (response.code === 200){
            showSigninResult('注销','注销成功！');
            setTimeout(function () {
            window.location.href = '/'; // 自动跳转到首页
        }, 700); // 0.5秒后跳转
            }
        },
        error: function() {
            // 处理错误
            console.error();
            // 显示错误信息
            showSigninResult('错误', '发生错误');
        }
    });
}

</script>
{% endif %}

</body>
</html>