{% extends 'base.html' %}

{% block title %}忘记密码 - {{ super() }}{% endblock %}



{% block content %}
<div class="row mt-5">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h5 class="mb-0">忘记密码</h5>
            </div>
            <div class="card-body">
                <div id="success_alert" class="alert alert-success custom-alert" role="alert" style="display: none"></div>
                <div id="error_alert" class="alert alert-danger" role="alert" style="display: none"></div>

                <form>
                    <div class="form-group">
                        <label for="email">注册邮箱</label>
                        <input name='email' type="email" class="form-control" id="email" placeholder="请输入注册邮箱">
                    </div>
                    <button id="ResetPasswordButton" type="button" class="btn btn-primary">重置密码</button>
                    <button id="BackLogin" type="button" class="btn btn-primary" style="display: none">返回登录</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

function checkEmail() {
    // 邮箱正则表达式
    var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
    var email = $('input[name="email"]').val();
    // 使用正则表达式验证邮箱
    if (emailRegex.test(email)) {
        return true;
    } else {
        return false;
    }
}

$(document).ready(function() {
  $('#ResetPasswordButton').click(function() {
      if(checkEmail()){
              $.ajax({
      type: 'POST',
      url: "{{ url_for('users.reset_password') }}",
      data: {
          "email": $('input[name="email"]').val(),
      },
      success: function(response) {
          if (response.code===200){
            $('#success_alert').text('重置密码成功！请到邮箱查看！').show();
            $('#error_alert').hide();
            //
            $('#ResetPasswordButton').hide();
            $('#BackLogin').show();
          }else{
               $('#error_alert').text(response.message).show();
               $('#success_alert').hide();
          }
      },
      error: function(response) {
        $('#error_alert').text(response.message).show();
      }
    });
      }else {
          $('#error_alert').text('邮箱格式错误！请检查！').show();
      }
     // Prevent the default form submission

  });
});


$('#BackLogin').click(function() {
      window.location.href = '{{ url_for("users.login") }}';
  });
</script>


{% endblock %}
