{% extends 'base.html' %}

{% block title %}个人详细信息 - {{ super() }}{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static',filename='js/users/personalInformation.js') }}"></script>
{% endblock %}

{% block style %}
    body {
    background-color: #f8f9fa;
    }

    .card {
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .card-title {
    color: #007bff;
    }



{% endblock %}

{% block content %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{ user.username }}的个人信息</h2>
                        <hr>
                        <div class="row">
                            <div class="col-4">
                                <label>用户名:</label>
                            </div>
                            <div class="col-8">
                                <span id="username">{{ user.username }}</span>
                                <input type="text" id="editUsername" class="form-control" style="display: none;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <label>Email:</label>
                            </div>
                            <div class="col-8">
                                <span id="email">{{ user.email }}</span>
                                <input type="text" id="editEmail" class="form-control " style="display: none;">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label>账户余额:</label>
                            </div>
                            <div class="col-8">
                                <span id="balance">￥{{ user.balance }}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-4">
                                <label>注册时间:</label>
                            </div>
                            <div class="col-8">
                                <span id="balance">{{ user.created_at }}</span>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col">
                                <button id="editButton" class="btn btn-primary btn-block">编辑信息</button>
                                <button id="commitButton" class="btn btn-success btn-block" style="display: none">
                                    确认提交
                                </button>
                                <button id="cancelButton" class="btn btn-danger btn-block" style="display: none">
                                    取消编辑
                                </button>
                            </div>
                        </div>


                        <div class="form-group mb-3"></div> <!-- 美化占位 -->
                        <div id="success_alert" class="alert alert-success custom-alert" role="alert"
                             style="display: none">ok
                        </div>
                        <div id="error_alert" class="alert alert-danger" role="alert" style="display: none">error</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {##}
    {#        <div class="row mt-5">#}
    {#            <div class="col-lg-6 mx-auto">#}
    {#                <div class="card">#}
    {#                    <div class="card-body">#}
    {#                        <h2 class="card-title">收货地址</h2>#}
    {#                        {% if address %}#}
    {#                            {% for address in user.addresses %}#}
    {#                                <div class="address">#}
    {#                                    <div class="row">#}
    {#                                        <div class="col-4">#}
    {#                                            <strong>地址ID:</strong>#}
    {#                                        </div>#}
    {#                                        <div class="col-8">#}
    {#                                            {{ address.id }}#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="row">#}
    {#                                        <div class="col-4">#}
    {#                                            <strong>省/州:</strong>#}
    {#                                        </div>#}
    {#                                        <div class="col-8">#}
    {#                                            {{ address.state }}#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="row">#}
    {#                                        <div class="col-4">#}
    {#                                            <strong>城市:</strong>#}
    {#                                        </div>#}
    {#                                        <div class="col-8">#}
    {#                                            {{ address.city }}#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="row">#}
    {#                                        <div class="col-4">#}
    {#                                            <strong>详细地址:</strong>#}
    {#                                        </div>#}
    {#                                        <div class="col-8">#}
    {#                                            {{ address.detailed_address }}#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                    <div class="row">#}
    {#                                        <div class="col-4">#}
    {#                                            <strong>邮政编码:</strong>#}
    {#                                        </div>#}
    {#                                        <div class="col-8">#}
    {#                                            {{ address.postal_code }}#}
    {#                                        </div>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                                {% if not loop.last %}#}
    {#                                    <hr>#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {##}
    {#                        {% else %}#}
    {#                            <div class="col-12">#}
    {#                                <strong>当前账户没有收货地址，点击添加一个吧！</strong>#}
    {#                            </div>#}
    {#                        {% endif %}#}
    {##}
    {##}
    {#                        <div class="row mt-4">#}
    {#                            <div class="col">#}
    {#                                <a href="#" class="btn btn-primary">新增地址</a>#}
    {#                            </div>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


{% endblock %}
